main_color = #424055
my_gray = #818181
my_blue = #38364a
font_color = #4d4d4d
font_size = 12pt

html
    font-family: "News Cycle", serif
    color: font_color
    font-size: font_size

.content
    text-align: center

.logo
    margin-top: 30px

.info
    margin-top: 10px

.author
    font-weight: bold
    margin-top: 30px
    img
        border-radius: 30px

.social-networks
    font-size: 20px
    a
        color: my_gray
        &:hover
            color: my_blue
